*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li{
    text-decoration: none;
    list-style: none;
}
.form{
    max-width: 360px;
    border-radius: 30px;
    min-height: 800px ;
    background-color: white ;
    display: flex;
    flex-direction: column;

}

/*.container{*/
/*    width: 360px;*/
/*    height: 730px;*/
/*    margin:  0 auto;*/
/*}*/
/*.card{*/
/*    margin: 10px 0 ;*/
/*    border-radius: 10px;*/
/*    background-color: #EFEFEF;*/
/*}*/
/*.card__title{*/
/*    font-size: 18px;*/
/*    font-weight: 700;*/
/*    line-height: 24px;*/
/*    color: #1a1a1a;*/
/*    padding-top: 12px;*/
/*}*/
/*.card_ghost{*/
/*    font-weight: 500;*/
/*    font-size: 14px;*/
/*    line-height: 17px;*/
/*    color: rgb(165, 170, 183);*/
/*    margin-top: 12px;*/
/*}*/
/*.card__list{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/

/*    gap: 30px;*/
/*}*/
/*.distance{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 5px;*/
/*    margin: 20px 0;*/
/*}*/
/*.distance__text{*/
/*    color: black;*/
/*}*/
/*.image{*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

.modal {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    max-width: 360px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top:420px
}

.header {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.header h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.header p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.closeButton {
    position: absolute;
    top: -20px;
    right: -30px;

    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.row {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.select, .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #ff6600;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 25px;
}

.button:hover {
    background-color: #e65c00;
}
