*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{

}
.form{
    background-color: #656CEE ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 360px;
    align-items: center;
    z-index: 2;
    min-height: 810px;
    padding-top: 500px;


}
.card{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 22px;
    margin: 0 20px;
    background-color: white;

}
.card__title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 32px 0 20px;
    width: 224px;
    text-align: center;
    color: black;

}
.image{
    position: absolute;
    width: 550px;
    height: 350px;
    left: 770px;

}
.card__info{
    font-family: 'Saira', serif;
    color: #6E819B;
    font-size: 16px;
    text-align: center;
    width: 280px;
}
.card__button{
    background-color: #FF9900 ;
    margin-top: 35px;
    border: 1px solid #FF9900;
    border-radius: 16px;
    margin-bottom: 27px;
}
.button__text{
    color: white;
    padding: 10px 60px;

}